*.iml
.gradle
/.kotlin
.vscode
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.androidide/
signing-foss.properties
app/src/main/res/values/google_config.xml