*.iml
.gradle
/.kotlin
.vscode
.junie
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
local.properties
.androidide/
signing-foss.properties
.stability/
/.artifacts
/.agents
*.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE.md
!PRIVACY_POLICY.md
!README.md
!SECURITY.md
!TERMS_OF_SERVICE.md
