* {
  font-family: 'Sen', sans-serif;
  font-display: fallback;
}

#hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
 color: #090909;
}

nav {
  
  top: 65px;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  display: none;
  font-size: 40px;
  margin-left: 20px
box-sizing: border-box;
}

nav.show {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

nav li {
  margin-bottom: 20px;
}

nav a {
  color: #0c0c0c;
  text-decoration: none;
}

nav a:hover {
  color: #318A62
}



img{
  border-radius: 50%;
max-width: 200px;
  height: auto;
margin-left: 100px;
  margin-right: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

body{
  
font-size: larger;
  font-family: 'Sen', sans-serif;
  color: #161616;
  background-color: #d1d7eb;
  text-align: "center";
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
align-items: center;
  box-sizing: border-box
  margin : 0;
padding: 0;
text-align: center;

  
}
a {
    color: #318A62;
}

#ss {
border-radius: 0%;
display: flex; 
    justify-content: space-between;
}

logo{
font-weight: 600;
font-size: 30px;
font-family: Poppins,sans-serif;
text-align: left;

}

#github{
border-radius: 0;

}

#pfp{

  margin: 80px;
  box-sizing: border-box;
    background-color: #f1f1f1;
}

}
